/* import m6x11plus.ttf */

@font-face {
	font-family: 'm6x11plus';
	src: url('m6x11plus.ttf') format('truetype');
}

html,
body {
	margin: 0;
	min-height: 100vh;
}

body,
a {
	font-family: 'm6x11plus';
	text-shadow: #000 2px 2px 0px;
}

a {
	color: white;
	border-bottom: solid 4px white;
	text-decoration: none;
}

main {
	text-align: center;
	margin: 2rem auto;
	padding: 3rem;
	color: white;
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	background-color: #374244;
	border: solid 4px white;
	border-radius: 1rem;
	box-shadow: 4px 12px #0004;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

.desc {
	font-size: 1.5rem;
}

.jokers-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1.5rem;
}

.jokers img {
	height: 190px;
	image-rendering: pixelated;
	filter: drop-shadow(4px 12px 0 #0004);
}
